@{
  Layout = "_Layout";
}

@using MovieDatabase.ViewModels
@model LoginViewModel

<h2>Log in to your account</h2>

@using (Html.BeginForm())
{
  @Html.LabelFor(m => m.Email)
  @Html.TextBoxFor(m => m.Email)

  @Html.LabelFor(m => m.Password)
  @Html.TextBoxFor(m => m.Password)

  <input type="submit" value="Log in" class="btn btn-default" />
}

@Html.ActionLink("Register Account", "Register")